Mcd79TwitterSearchCollabTalk.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "clientId": "",
                                "secret": "",
                                "tenant": "",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "body": {
                                "acl": [
                                    {
                                        "accessType": "grant",
                                        "identitySource": "azureActiveDirectory",
                                        "type": "everyone",
                                        "value": ""
                                    }
                                ],
                                "content": {
                                    "type": "text",
                                    "value": "@{items('For_each')['TweetText']}"
                                },
                                "properties": {
                                    "TweetByFullName": "@{items('For_each')?['UserDetails']?['FullName']}",
                                    "TweetId": "@{items('For_each')?['TweetId']}",
                                    "TweetText": "@{items('For_each')['TweetText']}",
                                    "TweetedByUserName": "@{items('For_each')?['UserDetails']?['FullName']}"
                                },
                                "type": "microsoft.graph.externalItem"
                            },
                            "method": "PUT",
                            "uri": "https://graph.microsoft.com/beta/external/connections/Mcd79TwitterSearchConnector/items/@{items('For_each')?['TweetId']}"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "foreach": "@body('Search_tweets')",
                "runAfter": {
                    "Search_tweets": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Search_tweets": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/searchtweets",
                    "queries": {
                        "maxResults": 99,
                        "searchQuery": "#CollabTalk"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "twitter": {
                    "connectionId": "/subscriptions/6951ada6-6409-48d7-8199-f09893b21c48/resourceGroups/Mcd79TwitterSearchConnector/providers/Microsoft.Web/connections/twitter",
                    "connectionName": "twitter",
                    "id": "/subscriptions/6951ada6-6409-48d7-8199-f09893b21c48/providers/Microsoft.Web/locations/uksouth/managedApis/twitter"
                }
            }
        }
    }
}