S4MSC-SearchConnectorSearch.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Create_index_if_not_exists": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "clientId": "b1a79309-6254-4a6d-bac2-54e00ad515c6",
                                "secret": "g2q8Q~P0WRLuy65b3oZABZ4PdPBkp3~xVWKzEcyT",
                                "tenant": "b618d3d2-c131-42fd-a629-3711d84af275",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "body": {
                                "acl": [
                                    {
                                        "accessType": "grant",
                                        "identitySource": "azureActiveDirectory",
                                        "type": "everyone",
                                        "value": ""
                                    }
                                ],
                                "content": {
                                    "type": "text",
                                    "value": "@{items('For_each')?['sys_name']}"
                                },
                                "properties": {
                                    "cost": "@{items('For_each')?['cost']}",
                                    "description": "@{items('For_each')?['description']}",
                                    "group": "@{items('For_each')?['group']}",
                                    "name": "@{items('For_each')?['name']}",
                                    "order": "@{items('For_each')?['order']}",
                                    "price": "@{items('For_each')?['price']}",
                                    "productid": "@{items('For_each')?['product_id']}",
                                    "shortdescription": "@{items('For_each')?['short_description']}"
                                },
                                "type": "microsoft.graph.externalItem"
                            },
                            "method": "PUT",
                            "uri": "https://graph.microsoft.com/beta/external/connections/S4MSCServiceNowSearchConnector/items/@{items('For_each')?['product_id']}"
                        },
                        "runAfter": {
                            "Get_item_from_index_by_Product_Id": [
                                "SKIPPED",
                                "FAILED"
                            ]
                        },
                        "type": "Http"
                    },
                    "Get_item_from_index_by_Product_Id": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "clientId": "b1a79309-6254-4a6d-bac2-54e00ad515c6",
                                "secret": "g2q8Q~P0WRLuy65b3oZABZ4PdPBkp3~xVWKzEcyT",
                                "tenant": "b618d3d2-c131-42fd-a629-3711d84af275",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "method": "GET",
                            "uri": "https://graph.microsoft.com/beta/external/connections/S4MSCServiceNowSearchConnector/items/@{items('For_each')?['product_id']}"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "foreach": "@body('List_Records')?['result']",
                "runAfter": {
                    "List_Records": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "List_Records": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['service-now']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/api/now/v2/table/@{encodeURIComponent('pc_product_cat_item')}",
                    "queries": {
                        "sysparm_display_value": false,
                        "sysparm_exclude_reference_link": true,
                        "sysparm_query": "fields=price,product_id,sys_name,model,state,group,order,image,active,name,vendor_catalog_item,short_description,icon,description,availability,owner,list_price,recurring_price"
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "service-now": {
                    "connectionId": "/subscriptions/c6f9fb91-7294-4aad-8826-219820a8d8bb/resourceGroups/S4MSC-ServiceNow/providers/Microsoft.Web/connections/service-now",
                    "connectionName": "service-now",
                    "id": "/subscriptions/c6f9fb91-7294-4aad-8826-219820a8d8bb/providers/Microsoft.Web/locations/westeurope/managedApis/service-now"
                }
            }
        }
    }
}