template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_twitter_name": {
            "defaultValue": "twitter",
            "type": "String"
        },
        "sites_Mcd79GraphSearchConnector_name": {
            "defaultValue": "Mcd79GraphSearchConnector",
            "type": "String"
        },
        "sites_Mcd79TwitterSearchConnector_name": {
            "defaultValue": "Mcd79TwitterSearchConnector",
            "type": "String"
        },
        "workflows_Mcd79Twitter_CollabTalk_name": {
            "defaultValue": "Mcd79Twitter-CollabTalk",
            "type": "String"
        },
        "components_mcd79twittersearchconnec_name": {
            "defaultValue": "mcd79twittersearchconnec",
            "type": "String"
        },
        "workflows_Mcd79TwitterSearchCollabTalk_name": {
            "defaultValue": "Mcd79TwitterSearchCollabTalk",
            "type": "String"
        },
        "components_Mcd79GraphSearchConnector_name": {
            "defaultValue": "Mcd79GraphSearchConnector",
            "type": "String"
        },
        "storageAccounts_storageaccountmcd7999fa_name": {
            "defaultValue": "storageaccountmcd7999fa",
            "type": "String"
        },
        "workflows_Mcd79TwitterSearchConnectorSetup_name": {
            "defaultValue": "Mcd79TwitterSearchConnectorSetup",
            "type": "String"
        },
        "storageAccounts_mcd79twittersearchconnec_name": {
            "defaultValue": "mcd79twittersearchconnec",
            "type": "String"
        },
        "serverfarms_Mcd79TwitterSearchConnector_Plan_name": {
            "defaultValue": "Mcd79TwitterSearchConnector-Plan",
            "type": "String"
        },
        "serverfarms_ASP_Mcd79TwitterSearchConnector_a787_name": {
            "defaultValue": "ASP-Mcd79TwitterSearchConnector-a787",
            "type": "String"
        },
        "smartdetectoralertrules_failure_anomalies___mcd79twittersearchconnec_name": {
            "defaultValue": "failure anomalies - mcd79twittersearchconnec",
            "type": "String"
        },
        "smartdetectoralertrules_failure_anomalies___mcd79graphsearchconnector_name": {
            "defaultValue": "failure anomalies - mcd79graphsearchconnector",
            "type": "String"
        },
        "actiongroups_application_insights_smart_detection_externalid": {
            "defaultValue": "/subscriptions/6951ada6-6409-48d7-8199-f09893b21c48/resourceGroups/whoisheremcd79func/providers/microsoft.insights/actiongroups/application insights smart detection",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "microsoft.insights/components",
            "apiVersion": "2018-05-01-preview",
            "name": "[parameters('components_Mcd79GraphSearchConnector_name')]",
            "location": "uksouth",
            "kind": "web",
            "properties": {
                "Application_Type": "web",
                "Request_Source": "rest",
                "RetentionInDays": 90,
                "publicNetworkAccessForIngestion": "Enabled",
                "publicNetworkAccessForQuery": "Enabled"
            }
        },
        {
            "type": "microsoft.insights/components",
            "apiVersion": "2018-05-01-preview",
            "name": "[parameters('components_mcd79twittersearchconnec_name')]",
            "location": "uksouth",
            "kind": "web",
            "properties": {
                "Application_Type": "web",
                "RetentionInDays": 90,
                "publicNetworkAccessForIngestion": "Enabled",
                "publicNetworkAccessForQuery": "Enabled"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Mcd79TwitterSearchConnectorSetup_name')]",
            "location": "uksouth",
            "identity": {
                "principalId": "a4a4968c-aa2b-45aa-addf-2bab8358fc91",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Check_Mcd79TwitterSearchConnector_exists": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "",
                                    "secret": "",
                                    "tenant": "",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/external/connections/Mcd79TwitterSearchConnector"
                            }
                        },
                        "Check_schema_exists": {
                            "runAfter": {
                                "Create_Mcd79TwitterSearchConnector_if_doesn't_exist": [
                                    "Succeeded",
                                    "Skipped"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "",
                                    "secret": "",
                                    "tenant": "",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/external/connections/Mcd79TwitterSearchConnector/schema"
                            }
                        },
                        "Create_Mcd79TwitterSearchConnector_if_doesn't_exist": {
                            "runAfter": {
                                "Check_Mcd79TwitterSearchConnector_exists": [
                                    "Failed"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "",
                                    "secret": "",
                                    "tenant": "",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "body": {
                                    "description": "Connector for showing key tweets",
                                    "id": "Mcd79TwitterSearchConnector",
                                    "name": "Twitter Connector"
                                },
                                "method": "POST",
                                "uri": "https://graph.microsoft.com/beta/external/connections"
                            }
                        },
                        "Create_schema_if_it_doesn't_exists": {
                            "runAfter": {
                                "Check_schema_exists": [
                                    "Failed"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "",
                                    "secret": "",
                                    "tenant": "",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "body": {
                                    "baseType": "microsoft.graph.externalItem",
                                    "properties": [
                                        {
                                            "isQueryable": true,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": true,
                                            "name": "TweetText",
                                            "type": "String"
                                        },
                                        {
                                            "isQueryable": true,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": true,
                                            "name": "TweetId",
                                            "type": "String"
                                        },
                                        {
                                            "isQueryable": true,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": false,
                                            "name": "CreatedAt",
                                            "type": "DateTime"
                                        },
                                        {
                                            "isQueryable": false,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": false,
                                            "name": "RetweetCount",
                                            "type": "Int64"
                                        },
                                        {
                                            "isQueryable": true,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": true,
                                            "name": "TweetedByUserName",
                                            "type": "String"
                                        },
                                        {
                                            "isQueryable": true,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": true,
                                            "name": "TweetByFullName",
                                            "type": "String"
                                        },
                                        {
                                            "isQueryable": true,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": true,
                                            "name": "OriginalTweetUserName",
                                            "type": "String"
                                        },
                                        {
                                            "isQueryable": true,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": true,
                                            "name": "OriginalTweetFullName",
                                            "type": "String"
                                        },
                                        {
                                            "isQueryable": false,
                                            "isRefinable": false,
                                            "isRetrievable": true,
                                            "isSearchable": false,
                                            "name": "ProfileImageUrl",
                                            "type": "String"
                                        }
                                    ]
                                },
                                "method": "POST",
                                "uri": "https://graph.microsoft.com/beta/external/connections/Mcd79TwitterSearchConnector/schema"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2019-06-01",
            "name": "[parameters('storageAccounts_mcd79twittersearchconnec_name')]",
            "location": "uksouth",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "Storage",
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2019-06-01",
            "name": "[parameters('storageAccounts_storageaccountmcd7999fa_name')]",
            "location": "uksouth",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "Storage",
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_twitter_name')]",
            "location": "uksouth",
            "kind": "V1",
            "properties": {
                "displayName": "kevmcdonk",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/6951ada6-6409-48d7-8199-f09893b21c48/providers/Microsoft.Web/locations/uksouth/managedApis/', parameters('connections_twitter_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/serverfarms",
            "apiVersion": "2018-02-01",
            "name": "[parameters('serverfarms_ASP_Mcd79TwitterSearchConnector_a787_name')]",
            "location": "UK South",
            "sku": {
                "name": "Y1",
                "tier": "Dynamic",
                "size": "Y1",
                "family": "Y",
                "capacity": 0
            },
            "kind": "functionapp",
            "properties": {
                "perSiteScaling": false,
                "maximumElasticWorkerCount": 1,
                "isSpot": false,
                "reserved": false,
                "isXenon": false,
                "hyperV": false,
                "targetWorkerCount": 0,
                "targetWorkerSizeId": 0
            }
        },
        {
            "type": "Microsoft.Web/serverfarms",
            "apiVersion": "2018-02-01",
            "name": "[parameters('serverfarms_Mcd79TwitterSearchConnector_Plan_name')]",
            "location": "UK South",
            "sku": {
                "name": "F1",
                "tier": "Free",
                "size": "F1",
                "family": "F",
                "capacity": 0
            },
            "kind": "app",
            "properties": {
                "perSiteScaling": false,
                "maximumElasticWorkerCount": 1,
                "isSpot": false,
                "reserved": false,
                "isXenon": false,
                "hyperV": false,
                "targetWorkerCount": 0,
                "targetWorkerSizeId": 0
            }
        },
        {
            "type": "microsoft.alertsmanagement/smartdetectoralertrules",
            "apiVersion": "2019-06-01",
            "name": "[parameters('smartdetectoralertrules_failure_anomalies___mcd79graphsearchconnector_name')]",
            "location": "global",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_Mcd79GraphSearchConnector_name'))]"
            ],
            "properties": {
                "description": "Failure Anomalies notifies you of an unusual rise in the rate of failed HTTP requests or dependency calls.",
                "state": "Enabled",
                "severity": "Sev3",
                "frequency": "PT1M",
                "detector": {
                    "id": "FailureAnomaliesDetector",
                    "name": "Failure Anomalies",
                    "description": "Detects if your application experiences an abnormal rise in the rate of HTTP requests or dependency calls that are reported as failed. The anomaly detection uses machine learning algorithms and occurs in near real time, therefore there's no need to define a frequency for this signal.<br/></br/>To help you triage and diagnose the problem, an analysis of the characteristics of the failures and related telemetry is provided with the detection. This feature works for any app, hosted in the cloud or on your own servers, that generates request or dependency telemetry - for example, if you have a worker role that calls <a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/application-insights/app-insights-api-custom-events-metrics#trackrequest\\\" target=\\\"_blank\\\">TrackRequest()</a> or <a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/application-insights/app-insights-api-custom-events-metrics#trackdependency\\\" target=\\\"_blank\\\">TrackDependency()</a>.<br/><br/><a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/azure-monitor/app/proactive-failure-diagnostics\\\" target=\\\"_blank\\\">Learn more about Failure Anomalies</a>",
                    "supportedResourceTypes": [
                        "ApplicationInsights"
                    ]
                },
                "scope": [
                    "[resourceId('microsoft.insights/components', parameters('components_Mcd79GraphSearchConnector_name'))]"
                ],
                "actionGroups": {
                    "groupIds": [
                        "[parameters('actiongroups_application_insights_smart_detection_externalid')]"
                    ]
                }
            }
        },
        {
            "type": "microsoft.alertsmanagement/smartdetectoralertrules",
            "apiVersion": "2019-06-01",
            "name": "[parameters('smartdetectoralertrules_failure_anomalies___mcd79twittersearchconnec_name')]",
            "location": "global",
            "dependsOn": [
                "[resourceId('microsoft.insights/components', parameters('components_mcd79twittersearchconnec_name'))]"
            ],
            "properties": {
                "description": "Failure Anomalies notifies you of an unusual rise in the rate of failed HTTP requests or dependency calls.",
                "state": "Enabled",
                "severity": "Sev3",
                "frequency": "PT1M",
                "detector": {
                    "id": "FailureAnomaliesDetector",
                    "name": "Failure Anomalies",
                    "description": "Detects if your application experiences an abnormal rise in the rate of HTTP requests or dependency calls that are reported as failed. The anomaly detection uses machine learning algorithms and occurs in near real time, therefore there's no need to define a frequency for this signal.<br/></br/>To help you triage and diagnose the problem, an analysis of the characteristics of the failures and related telemetry is provided with the detection. This feature works for any app, hosted in the cloud or on your own servers, that generates request or dependency telemetry - for example, if you have a worker role that calls <a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/application-insights/app-insights-api-custom-events-metrics#trackrequest\\\" target=\\\"_blank\\\">TrackRequest()</a> or <a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/application-insights/app-insights-api-custom-events-metrics#trackdependency\\\" target=\\\"_blank\\\">TrackDependency()</a>.<br/><br/><a class=\"ext-smartDetecor-link\" href=\\\"https://docs.microsoft.com/azure/azure-monitor/app/proactive-failure-diagnostics\\\" target=\\\"_blank\\\">Learn more about Failure Anomalies</a>",
                    "supportedResourceTypes": [
                        "ApplicationInsights"
                    ]
                },
                "scope": [
                    "[resourceId('microsoft.insights/components', parameters('components_mcd79twittersearchconnec_name'))]"
                ],
                "actionGroups": {
                    "groupIds": [
                        "[parameters('actiongroups_application_insights_smart_detection_externalid')]"
                    ]
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Mcd79Twitter_CollabTalk_name')]",
            "location": "uksouth",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_twitter_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_Collabtalk_tweet_is_posted": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twitter']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/onnewtweet",
                                "queries": {
                                    "searchQuery": "#CollabTalk"
                                }
                            }
                        }
                    },
                    "actions": {},
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "twitter": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_twitter_name'))]",
                                "connectionName": "twitter",
                                "id": "/subscriptions/6951ada6-6409-48d7-8199-f09893b21c48/providers/Microsoft.Web/locations/uksouth/managedApis/twitter"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Mcd79TwitterSearchCollabTalk_name')]",
            "location": "uksouth",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_twitter_name'))]"
            ],
            "identity": {
                "principalId": "3b293e62-1d63-400c-a09e-175188e8fe78",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Search_tweets')",
                            "actions": {
                                "HTTP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "clientId": "",
                                            "secret": "",
                                            "tenant": "",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "body": {
                                            "acl": [
                                                {
                                                    "accessType": "grant",
                                                    "identitySource": "azureActiveDirectory",
                                                    "type": "everyone",
                                                    "value": ""
                                                }
                                            ],
                                            "content": {
                                                "type": "text",
                                                "value": "@{items('For_each')['TweetText']}"
                                            },
                                            "properties": {
                                                "TweetByFullName": "@{items('For_each')?['UserDetails']?['FullName']}",
                                                "TweetId": "@{items('For_each')?['TweetId']}",
                                                "TweetText": "@{items('For_each')['TweetText']}",
                                                "TweetedByUserName": "@{items('For_each')?['UserDetails']?['FullName']}"
                                            },
                                            "type": "microsoft.graph.externalItem"
                                        },
                                        "method": "PUT",
                                        "uri": "https://graph.microsoft.com/beta/external/connections/Mcd79TwitterSearchConnector/items/@{items('For_each')?['TweetId']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Search_tweets": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Search_tweets": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twitter']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/searchtweets",
                                "queries": {
                                    "maxResults": 99,
                                    "searchQuery": "#CollabTalk"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "twitter": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_twitter_name'))]",
                                "connectionName": "twitter",
                                "id": "/subscriptions/6951ada6-6409-48d7-8199-f09893b21c48/providers/Microsoft.Web/locations/uksouth/managedApis/twitter"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_mcd79twittersearchconnec_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_mcd79twittersearchconnec_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_storageaccountmcd7999fa_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccountmcd7999fa_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_mcd79twittersearchconnec_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_mcd79twittersearchconnec_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_storageaccountmcd7999fa_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccountmcd7999fa_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_mcd79twittersearchconnec_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_mcd79twittersearchconnec_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_storageaccountmcd7999fa_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccountmcd7999fa_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_mcd79twittersearchconnec_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_mcd79twittersearchconnec_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_storageaccountmcd7999fa_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccountmcd7999fa_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Web/sites",
            "apiVersion": "2018-11-01",
            "name": "[parameters('sites_Mcd79GraphSearchConnector_name')]",
            "location": "UK South",
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ASP_Mcd79TwitterSearchConnector_a787_name'))]"
            ],
            "kind": "functionapp",
            "identity": {
                "principalId": "c65f03f9-ed85-4f34-b411-6d8d252ad73d",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "enabled": true,
                "hostNameSslStates": [
                    {
                        "name": "mcd79graphsearchconnector.azurewebsites.net",
                        "sslState": "Disabled",
                        "hostType": "Standard"
                    },
                    {
                        "name": "mcd79graphsearchconnector.scm.azurewebsites.net",
                        "sslState": "Disabled",
                        "hostType": "Repository"
                    }
                ],
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_ASP_Mcd79TwitterSearchConnector_a787_name'))]",
                "reserved": false,
                "isXenon": false,
                "hyperV": false,
                "siteConfig": {},
                "scmSiteAlsoStopped": false,
                "clientAffinityEnabled": true,
                "clientCertEnabled": false,
                "hostNamesDisabled": false,
                "containerSize": 1536,
                "dailyMemoryTimeQuota": 0,
                "httpsOnly": false,
                "redundancyMode": "None"
            }
        },
        {
            "type": "Microsoft.Web/sites",
            "apiVersion": "2018-11-01",
            "name": "[parameters('sites_Mcd79TwitterSearchConnector_name')]",
            "location": "UK South",
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_Mcd79TwitterSearchConnector_Plan_name'))]"
            ],
            "kind": "functionapp,workflowapp",
            "identity": {
                "principalId": "057c34a0-b3f3-4d69-bd76-750bb63b53a7",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "enabled": true,
                "hostNameSslStates": [
                    {
                        "name": "mcd79twittersearchconnector.azurewebsites.net",
                        "sslState": "Disabled",
                        "hostType": "Standard"
                    },
                    {
                        "name": "mcd79twittersearchconnector.scm.azurewebsites.net",
                        "sslState": "Disabled",
                        "hostType": "Repository"
                    }
                ],
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_Mcd79TwitterSearchConnector_Plan_name'))]",
                "reserved": false,
                "isXenon": false,
                "hyperV": false,
                "siteConfig": {},
                "scmSiteAlsoStopped": false,
                "clientAffinityEnabled": false,
                "clientCertEnabled": false,
                "hostNamesDisabled": false,
                "containerSize": 1536,
                "dailyMemoryTimeQuota": 0,
                "httpsOnly": false,
                "redundancyMode": "None"
            }
        },
        {
            "type": "Microsoft.Web/sites/config",
            "apiVersion": "2018-11-01",
            "name": "[concat(parameters('sites_Mcd79GraphSearchConnector_name'), '/web')]",
            "location": "UK South",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_Mcd79GraphSearchConnector_name'))]"
            ],
            "properties": {
                "numberOfWorkers": -1,
                "defaultDocuments": [
                    "Default.htm",
                    "Default.html",
                    "Default.asp",
                    "index.htm",
                    "index.html",
                    "iisstart.htm",
                    "default.aspx",
                    "index.php"
                ],
                "netFrameworkVersion": "v4.0",
                "phpVersion": "5.6",
                "requestTracingEnabled": false,
                "remoteDebuggingEnabled": false,
                "httpLoggingEnabled": false,
                "logsDirectorySizeLimit": 35,
                "detailedErrorLoggingEnabled": false,
                "publishingUsername": "$Mcd79GraphSearchConnector",
                "azureStorageAccounts": {},
                "scmType": "None",
                "use32BitWorkerProcess": true,
                "webSocketsEnabled": false,
                "alwaysOn": false,
                "managedPipelineMode": "Integrated",
                "virtualApplications": [
                    {
                        "virtualPath": "/",
                        "physicalPath": "site\\wwwroot",
                        "preloadEnabled": false
                    }
                ],
                "loadBalancing": "LeastRequests",
                "experiments": {
                    "rampUpRules": []
                },
                "autoHealEnabled": false,
                "cors": {
                    "allowedOrigins": [
                        "https://functions.azure.com",
                        "https://functions-staging.azure.com",
                        "https://functions-next.azure.com"
                    ],
                    "supportCredentials": false
                },
                "localMySqlEnabled": false,
                "managedServiceIdentityId": 15870,
                "ipSecurityRestrictions": [
                    {
                        "ipAddress": "Any",
                        "action": "Allow",
                        "priority": 1,
                        "name": "Allow all",
                        "description": "Allow all access"
                    }
                ],
                "scmIpSecurityRestrictions": [
                    {
                        "ipAddress": "Any",
                        "action": "Allow",
                        "priority": 1,
                        "name": "Allow all",
                        "description": "Allow all access"
                    }
                ],
                "scmIpSecurityRestrictionsUseMain": false,
                "http20Enabled": false,
                "minTlsVersion": "1.2",
                "ftpsState": "AllAllowed",
                "reservedInstanceCount": 0
            }
        },
        {
            "type": "Microsoft.Web/sites/config",
            "apiVersion": "2018-11-01",
            "name": "[concat(parameters('sites_Mcd79TwitterSearchConnector_name'), '/web')]",
            "location": "UK South",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_Mcd79TwitterSearchConnector_name'))]"
            ],
            "properties": {
                "numberOfWorkers": 1,
                "defaultDocuments": [
                    "Default.htm",
                    "Default.html",
                    "Default.asp",
                    "index.htm",
                    "index.html",
                    "iisstart.htm",
                    "default.aspx",
                    "index.php"
                ],
                "netFrameworkVersion": "v4.0",
                "phpVersion": "5.6",
                "requestTracingEnabled": false,
                "remoteDebuggingEnabled": false,
                "httpLoggingEnabled": false,
                "logsDirectorySizeLimit": 35,
                "detailedErrorLoggingEnabled": false,
                "publishingUsername": "$Mcd79TwitterSearchConnector",
                "azureStorageAccounts": {},
                "scmType": "None",
                "use32BitWorkerProcess": true,
                "webSocketsEnabled": false,
                "alwaysOn": false,
                "managedPipelineMode": "Integrated",
                "virtualApplications": [
                    {
                        "virtualPath": "/",
                        "physicalPath": "site\\wwwroot",
                        "preloadEnabled": false
                    }
                ],
                "loadBalancing": "LeastRequests",
                "experiments": {
                    "rampUpRules": []
                },
                "autoHealEnabled": false,
                "cors": {
                    "allowedOrigins": [
                        "https://afd.hosting.portal.azure.net",
                        "https://afd.hosting-ms.portal.azure.net",
                        "https://hosting.portal.azure.net",
                        "https://ms.hosting.portal.azure.net",
                        "https://ema-ms.hosting.portal.azure.net",
                        "https://ema.hosting.portal.azure.net"
                    ],
                    "supportCredentials": false
                },
                "localMySqlEnabled": false,
                "managedServiceIdentityId": 15867,
                "ipSecurityRestrictions": [
                    {
                        "ipAddress": "Any",
                        "action": "Allow",
                        "priority": 1,
                        "name": "Allow all",
                        "description": "Allow all access"
                    }
                ],
                "scmIpSecurityRestrictions": [
                    {
                        "ipAddress": "Any",
                        "action": "Allow",
                        "priority": 1,
                        "name": "Allow all",
                        "description": "Allow all access"
                    }
                ],
                "scmIpSecurityRestrictionsUseMain": false,
                "http20Enabled": false,
                "minTlsVersion": "1.2",
                "ftpsState": "AllAllowed",
                "reservedInstanceCount": 0
            }
        },
        {
            "type": "Microsoft.Web/sites/functions",
            "apiVersion": "2018-11-01",
            "name": "[concat(parameters('sites_Mcd79GraphSearchConnector_name'), '/CreateConnection')]",
            "location": "UK South",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_Mcd79GraphSearchConnector_name'))]"
            ],
            "properties": {
                "script_root_path_href": "https://mcd79graphsearchconnector.azurewebsites.net/admin/vfs/site/wwwroot/CreateConnection/",
                "script_href": "https://mcd79graphsearchconnector.azurewebsites.net/admin/vfs/site/wwwroot/CreateConnection/index.js",
                "config_href": "https://mcd79graphsearchconnector.azurewebsites.net/admin/vfs/site/wwwroot/CreateConnection/function.json",
                "href": "https://mcd79graphsearchconnector.azurewebsites.net/admin/functions/CreateConnection",
                "config": {},
                "test_data": "{\r\n    \"name\": \"Azure\"\r\n}"
            }
        },
        {
            "type": "Microsoft.Web/sites/hostNameBindings",
            "apiVersion": "2018-11-01",
            "name": "[concat(parameters('sites_Mcd79GraphSearchConnector_name'), '/', parameters('sites_Mcd79GraphSearchConnector_name'), '.azurewebsites.net')]",
            "location": "UK South",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_Mcd79GraphSearchConnector_name'))]"
            ],
            "properties": {
                "siteName": "Mcd79GraphSearchConnector",
                "hostNameType": "Verified"
            }
        },
        {
            "type": "Microsoft.Web/sites/hostNameBindings",
            "apiVersion": "2018-11-01",
            "name": "[concat(parameters('sites_Mcd79TwitterSearchConnector_name'), '/', parameters('sites_Mcd79TwitterSearchConnector_name'), '.azurewebsites.net')]",
            "location": "UK South",
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_Mcd79TwitterSearchConnector_name'))]"
            ],
            "properties": {
                "siteName": "Mcd79TwitterSearchConnector",
                "hostNameType": "Verified"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_mcd79twittersearchconnec_name'), '/default/azure-webjobs-hosts')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_mcd79twittersearchconnec_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_mcd79twittersearchconnec_name'))]"
            ],
            "properties": {
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_storageaccountmcd7999fa_name'), '/default/azure-webjobs-hosts')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storageaccountmcd7999fa_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccountmcd7999fa_name'))]"
            ],
            "properties": {
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_mcd79twittersearchconnec_name'), '/default/azure-webjobs-secrets')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_mcd79twittersearchconnec_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_mcd79twittersearchconnec_name'))]"
            ],
            "properties": {
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_storageaccountmcd7999fa_name'), '/default/azure-webjobs-secrets')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storageaccountmcd7999fa_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccountmcd7999fa_name'))]"
            ],
            "properties": {
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "None"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_storageaccountmcd7999fa_name'), '/default/mcd79graphsearchconnector9d95')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/fileServices', parameters('storageAccounts_storageaccountmcd7999fa_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageaccountmcd7999fa_name'))]"
            ],
            "properties": {
                "accessTier": "TransactionOptimized",
                "shareQuota": 5120,
                "enabledProtocols": "SMB"
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices/shares",
            "apiVersion": "2019-06-01",
            "name": "[concat(parameters('storageAccounts_mcd79twittersearchconnec_name'), '/default/', parameters('storageAccounts_mcd79twittersearchconnec_name'), 'tor3a9f13')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/fileServices', parameters('storageAccounts_mcd79twittersearchconnec_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_mcd79twittersearchconnec_name'))]"
            ],
            "properties": {
                "accessTier": "TransactionOptimized",
                "shareQuota": 5120,
                "enabledProtocols": "SMB"
            }
        }
    ]
}